html{
    height: 100%;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

body {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.pastpaper_main {
    white-space: nowrap;
}

main {
    margin: 20px;
}

.pastpaper_index a {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.pastpaper_index a:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: hsl(0, 0%, 10%);
}

nav li{
    float: left;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    width: 100%;
    height: 100px;
    white-space: pre-line;
    margin-top: auto;
}
